extends ../base.pug
block content
  .wrapper
    .text-block
      h1 Welcome to 
        span Ketelflix
      hr
      p
        | Ketelflix is a website to simplify the access of requested movies and series. 
        br
        |Due to copyright violations and privacy reasons we cannot simply let every person enter.
        br
        br
        | If you wish to be granted access to Ketelflix you will need to contact the administrator through e-mail.
        br
        | Our e-mail address for access requests is 
        a(href="mailto:accounts@ketelflix.nl").highlight accounts@ketelflix.nl.
